<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script type="text/javascript">
  var socket = io.connect('http://share-a-tab.unknownexception.c9.io'); 
  var useremail = '<%=user._json.email%>';
  $().ready(function () {
    trace('document ready');
    socket.emit("set userid", useremail)
    socket.on('connect', function () {  
        trace('websocket is open');
        socket.on('ready', function (rooms) {            
            trace('waiting for incoming sync request.. ' + JSON.stringify(rooms));
        });
        socket.on('download_syncdata', function (syncdata) {           
           trace('syncdata downloaded.. ' + JSON.stringify(syncdata));
           socket.emit('download_complete', syncdata.from);            
        });
        socket.on('finish_sync', function () {
           trace('operation complete\n=================');
        });
      });
    
    
    $(".synctab").on('click', function (e) {
        var syncdata = {
            href : document.location.href,
            from: useremail,
            to: $('input[name=reciever-email]').val(),
            cookie: document.cookie
        }
       socket.emit('upload_syncdata', syncdata);  
       trace('syncdata sending..');
       socket.on('trying_to_notify', function () {            
          trace('trying_to_notify');
       });
    });
  });
  
    function trace (str) {
        $('.debug').append('[' + socket.socket.sessionid +']: ' + str + '\n')
    }
</script>    

<h1>//socket.io test environment <%=user._json.email%></h1>
<div>
    Hello, <%= user.displayName %>. Wonna sync this tab with <input type="textbox" placeholder="reciever email" name="reciever-email" /> 
with cookies <input type="checkbox" name="withcookies" />

    <input type="button" class="synctab" value="Send" />
</div>

<pre class="debug">
</pre>