<!DOCTYPE html>
<html>
    <head>
		<title>Share-A-Tab web page</title>            
	</head>
	<body>
		<% if (!user) { %>
			<p>		
			<a href="/auth/google">Log In</a>
			</p>
		<% } else { %>
            <p>ID: <%= user.id %></p>
			<p>	 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>